Fontes/PortalGalvaniMobile/PortalGalvaniMobile/Service References/IntegracaoGruppo/IntegracaoPortal2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Arquivo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Arquivo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfArquivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Arquivo" nillable="true" type="tns:Arquivo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArquivo" nillable="true" type="tns:ArrayOfArquivo" />
  <xs:complexType name="Arquivo">
    <xs:sequence>
      <xs:element minOccurs="0" name="ArquivoId" type="xs:long" />
      <xs:element minOccurs="0" name="Base64" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Legenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ListaCategoria" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PastaId" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Tamanho" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Arquivo" nillable="true" type="tns:Arquivo" />
</xs:schema>