Fontes/PortalGalvaniMobile/PortalGalvaniMobile/Service References/IntegracaoGruppo/IntegracaoPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IntegracaoPortal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DTO.Menu" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DTO.Arquivo" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/DTO.Publicacao" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/DTO.Configuracao" />
      <xsd:import schemaLocation="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/DTO.Banner" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIntegracaoPortal_ListarMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMenu" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_ListarMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_ListarArquivos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarArquivos" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_ListarArquivos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarArquivosResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarPublicacao_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarPublicacao" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarPublicacao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarPublicacaoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarConfiguracao_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarConfiguracao" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarConfiguracao_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarConfiguracaoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarTagSite_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarTagSite" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarTagSite_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarTagSiteResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarBanner_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarBanner" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarBanner_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarBannerResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarArquivo_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarArquivo" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarArquivo_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarArquivoResponse" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarHome_InputMessage">
    <wsdl:part name="parameters" element="tns:CarregarHome" />
  </wsdl:message>
  <wsdl:message name="IIntegracaoPortal_CarregarHome_OutputMessage">
    <wsdl:part name="parameters" element="tns:CarregarHomeResponse" />
  </wsdl:message>
  <wsdl:portType name="IIntegracaoPortal">
    <wsdl:operation name="ListarMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/ListarMenu" message="tns:IIntegracaoPortal_ListarMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/ListarMenuResponse" message="tns:IIntegracaoPortal_ListarMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarArquivos">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/ListarArquivos" message="tns:IIntegracaoPortal_ListarArquivos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/ListarArquivosResponse" message="tns:IIntegracaoPortal_ListarArquivos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarPublicacao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarPublicacao" message="tns:IIntegracaoPortal_CarregarPublicacao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarPublicacaoResponse" message="tns:IIntegracaoPortal_CarregarPublicacao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarConfiguracao">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarConfiguracao" message="tns:IIntegracaoPortal_CarregarConfiguracao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarConfiguracaoResponse" message="tns:IIntegracaoPortal_CarregarConfiguracao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarTagSite">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarTagSite" message="tns:IIntegracaoPortal_CarregarTagSite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarTagSiteResponse" message="tns:IIntegracaoPortal_CarregarTagSite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarBanner">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarBanner" message="tns:IIntegracaoPortal_CarregarBanner_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarBannerResponse" message="tns:IIntegracaoPortal_CarregarBanner_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarArquivo">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarArquivo" message="tns:IIntegracaoPortal_CarregarArquivo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarArquivoResponse" message="tns:IIntegracaoPortal_CarregarArquivo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CarregarHome">
      <wsdl:input wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarHome" message="tns:IIntegracaoPortal_CarregarHome_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIntegracaoPortal/CarregarHomeResponse" message="tns:IIntegracaoPortal_CarregarHome_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIntegracaoPortal" type="tns:IIntegracaoPortal">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMenu">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/ListarMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarArquivos">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/ListarArquivos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarPublicacao">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarPublicacao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarConfiguracao">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarConfiguracao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarTagSite">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarTagSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarBanner">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarBanner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarArquivo">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarArquivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CarregarHome">
      <soap:operation soapAction="http://tempuri.org/IIntegracaoPortal/CarregarHome" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegracaoPortal">
    <wsdl:port name="BasicHttpBinding_IIntegracaoPortal" binding="tns:BasicHttpBinding_IIntegracaoPortal">
      <soap:address location="http://gruppowcf01.azurewebsites.net/IntegracaoPortal.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>