Fontes/PortalGalvaniMobile/PortalGalvaniMobile/Service References/IntegracaoGruppo/IntegracaoPortal4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DTO.Configuracao" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DTO.Configuracao" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Configuracao">
    <xs:sequence>
      <xs:element minOccurs="0" name="ConfiguracaoId" type="xs:int" />
      <xs:element minOccurs="0" name="ContatoEmailPrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContatoTelefonePrincipal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailDestino" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailDisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailHost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPassword" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmailPorta" type="xs:int" />
      <xs:element minOccurs="0" name="EmailUsername" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HostBase" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LinkMapa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Localizacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LocalizacaoComplemento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Configuracao" nillable="true" type="tns:Configuracao" />
</xs:schema>